.header_outer_container{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    /* background-color: transparent; */
    height: 10vh;
    color: white;
    transition: all 0.5s;
    transition-timing-function: ease-in;
    z-index: 1;
}
.header_container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}
.header_left ul{
    width: 140%;
    display: flex;
    list-style: none;
}
.header_right ul{
    display: flex;
    list-style: none;
}