*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


:root {
  
  --font-base: "Lexend", sans-serif;
--font-second-base:"inter", sans-serif;
  --background-color: #111;
  --color-base: #ffffff;       
  --color-primary: #ffffff;    
  --color-secondary: #e50914;  
}

body{
  background-color: #111;
}